.secteur-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    width: 100%;
    height: 80%;
    align-items: center;
    justify-items: center;
        
}


.secteur-item > p {
    font-size: 1.2em;
    color: #333;
    margin: 0px 10px 0 10px;
    padding: 0;
}

.secteur-item {
    border-radius: 60% /100%; /* Makes it elliptical */
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: 80%;
    height: 80%;

    display: flex row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: 14px;
}



div.secteur-item {
    transform:
      perspective(750px)
      translate3d(0px, 0px, -250px)
      rotateX(27deg)
      scale(0.9, 0.9);
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease, transform 0.4s ease;
    cursor: pointer;
    justify-content: center;
    align-items: center;


}


div.secteur-item:hover {
    transform: translate3d(0px, 0px, -250px);
}

div.secteur-item.clicked {
    
    z-index: 1010;
    background-color: white;
    position: absolute;
    transform: translate3d(0px, 0px, 0px) scale(1);
    opacity: 1;
}


.secteur-item.notclicked {
    opacity: 0; /* Invisibilité */
    transform: scale(0.5); /* Réduction de taille */
    pointer-events: none; /* Désactivation des interactions */
}

.secteur-item.clicked {
    z-index: 1010;
    background-color: white;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}










ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 8px;
  }



.secteur-item div, .secteur-item ul,.secteur-item li {
    display: none;
}

.secteur-item.clicked div, .secteur-item.clicked ul,.secteur-item.clicked li {
    /* style for div text */
    align-items: center;
    justify-content: center;
    display: flex;
}


.bottom-content {
    margin-left: 100px;
    /* les mettres au millieux */
    align-items: center;
    width: 80%;
    justify-content: center;
    gap: 20px;

    background-color: #ccc;
}

.left, .right {
    width: 30%;
    flex: 1;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
