body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    animation: backgroundWave 5s infinite alternate-reverse;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    animation: fadeIn 1.5s ease;
}



h1 {
    text-align: center;
    color: #0072ff;
    margin-bottom: 20px;
}

.offer {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
}

.next-button {
    display: block;
    text-align: center;
    background-color: #0072ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #005bb5;
}
