.services-container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}

.service-item {
    height: 100%;
    width: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.service-item>img {
    border-radius: 50%;
    width: 80%;
    height: 50%;
}


.service-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.solution-container {
    display: flex;
    justify-content: none;
}